.Layout {
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}

.Layout header {
    margin-top: 10px;
}

.Layout .adminLayout {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #f5f5f7;
    margin-bottom: 5px
}

.Layout .content-wrap {
    padding-bottom: 18rem;
}
