.AdminArea a {
  color: #f5f5f7 !important;
  text-decoration: none;

}

.AdminArea a:hover {
  color: #ffffff !important;
}

.AdminArea .right {
  text-align: end
}

.AdminArea .left {
  text-align: start;
}

.AdminArea p {
  margin-bottom: 0;

}