.register {
    background-color: #7bcc7594;
    padding-inline: 15px;
}

.register h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.register label {
    width: 100px;
}

.register input, .register button {
    display: flex;
    width: 100%;
    background-color: #d9eed8;
    border-radius: 5px;
    border-width: 0px;
    margin-right: 5px;
}

.register button {
    display: grid;
    margin: auto;
}

.register .error {
    color: rgb(208, 2, 2);
    font-size: medium;
}