.Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to left bottom, #b4deac, #b1d4a1, #aeca97, #abc18d, #a7b783);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Footer .text-muted {
    padding: 10px;
    margin: 0;
}

.Footer .border-bottom > p{
    text-align: left;
    margin-left: 0.8rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    text-decoration: underline;
}

.Footer ul{
    font-size: medium;
    text-align: left;
    margin-bottom: 4px;
}