.Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to left bottom, #b4deac, #b1d4a1, #aeca97, #abc18d, #a7b783);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Footer p {
    padding: 10px;
    margin: 0;
}